S3method(plot,matrixpls)
S3method(print,matrixpls)
S3method(print,summary.matrixpls)
S3method(summary,matrixpls)
export(get_GQI)
export(get_boots)
export(get_effects)
export(get_gof)
export(get_loads)
export(get_locals_test)
export(get_params)
export(get_path_scheme)
export(get_paths)
export(get_plsr1)
export(get_unidim)
export(get_weights)
export(innerplot)
export(outerplot)
export(matrixpls)
export(matrixpls.fit)
export(matrixpls.groups)
export(rescale)
