export(effects.matrixpls)
export(matrixpls.innerEstimator.centroid)
export(matrixpls.innerEstimator.factor)
export(matrixpls.innerEstimator.GSCA)
export(matrixpls.innerEstimator.identity)
export(matrixpls.innerEstimator.path)
export(matrixpls.outerEstimator.fixedWeights)
export(matrixpls.outerEstimator.GSCA)
export(matrixpls.outerEstimator.modeA)
export(matrixpls.outerEstimator.modeB)
export(matrixpls.parameterEstimator.plsregression)
export(matrixpls.parameterEstimator.regression)
export(matrixpls.plspm)
export(matrixpls.sempls)
export(matrixpls.sim)
export(matrixpls.weights)
export(matrixpls)
