S3method(AVE,matrixpls)
S3method(CR,matrixpls)
S3method(GoF,matrixpls)
S3method(R2,matrixpls)
S3method(effects,matrixpls)
S3method(predict,matrixpls)
S3method(print,matrixplfitsummary)
S3method(print,matrixpls)
S3method(print,matrixplsave)
S3method(print,matrixplscr)
S3method(print,matrixplseffects)
S3method(print,matrixplsgof)
S3method(print,matrixplsr2)
S3method(print,matrixplsresiduals)
S3method(print,matrixplssummary)
S3method(print,matrixplsweights)
S3method(residuals,matrixpls)
S3method(summary,matrixpls)

export(AVE)
export(CR)
export(GoF)
export(R2)
export(fitSummary)
export(loadings)


export(signChange.construct)
export(signChange.individual)

export(matrixpls)
export(matrixpls.boot)

export(matrixpls.plspm)
export(matrixpls.sempls)

export(matrixpls.sim)

export(weight.optim)
export(weight.pls)
export(weight.fixed)

export(convCheck.absolute)
export(convCheck.square)
export(convCheck.relative)

export(inner.GSCA)
export(inner.centroid)
export(inner.factor)
export(inner.identity)
export(inner.path)
export(inner.Horst)


export(outer.GSCA)
export(outer.RGCCA)
export(outer.factor)
export(outer.fixedWeights)
export(outer.modeA)
export(outer.modeB)

export(optim.maximizePrediction)
export(optim.maximizeInnerR2)
export(optim.GSCA)
export(optim.GCCA)


export(params.plsc)
export(params.plsregression)
export(params.regression)
export(params.tsls)


importFrom(stats,effects)

importFrom(lavaan,lavaanify)

importFrom(assertive, assert_all_are_not_na)
importFrom(assertive, assert_is_matrix)
importFrom(assertive, assert_is_symmetric_matrix)
importFrom(assertive, assert_is_identical_to_true)
importFrom(assertive, assert_all_are_true)
importFrom(assertive, assert_all_are_real)
importFrom(assertive, assert_all_are_positive)
importFrom(assertive, assert_is_function)

importFrom(MASS,ginv)

importFrom(psych,fa)
importFrom(psych,tr)
importFrom(psych,smc)
importFrom(psych,principal)
importFrom(psych,alpha)

importFrom(matrixcalc, is.positive.semi.definite)
